*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jersey 10", sans-serif;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
main{
    width: 100%;
}
input{
    display: none;
}
label{
    width: 100%;
}
a{
    text-decoration: none;
    color: inherit;
    font-size: clamp(1rem, 2.5vw, 1.75rem);
}
.section-title{
    font-size: clamp(1.5rem, 4vw, 3rem);
    border: 2px;
    border-color: white;
    color: white;
    -webkit-text-stroke-width: 0px;
    background-color: black;
    position: absolute;
    top: -30px;
    padding: 10px;
}
.tarjeta-de-mokepon{
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    background-color: #00FFFF;
    padding: 10px 15px;
    border: 3px solid #ff4500;
    align-items: center;
    min-width: 100px;
    width: calc(33% - 10px);
    flex-grow: 1;
    flex-shrink: 0;
}
.tarjeta-de-mokepon:hover{
    cursor: pointer;
}
input[type="radio"]:checked + .tarjeta-de-mokepon{
    background-color: #bf00ff;
    border-color: #39FF14;
}
.nombre-pet{
    font-size: clamp(1rem, 2.5vw, 1.75rem);
}
.btn{
    color: #bf00ff;
    background-color: #39FF14;
    padding: 5px;
    border: 2px solid #bf00ff;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    cursor: pointer;
}
.flag-wrapper {
    width: clamp(64px, 15vw, 256px); 
    aspect-ratio: 9 / 5; 
    display: flex;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
}

.flag-wrapper img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.flag-wrapper.hybrid img {
    width: 50%;
}


.flag-wrapper.hybrid img:first-child {
    object-position: left center;
    border-right: 1px solid rgba(255,255,255,0.1); 
}


.flag-wrapper.hybrid img:last-child {
    object-position: center center;
}
.btn-atq{
    border-radius: 2rem;
    border: 2px solid white;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    padding: 0.5rem;
    color: white;
}
.btn-atq:hover{
    cursor: pointer;
}
.muestra{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    width: calc(50% - 40px);
}
.imagen-mascota{
    width: 100%;
    height: auto;
}
.img-card{
    width: 50%;
    min-width: 64px;
    height: auto;
}
.muestra-vidas{
    font-size: clamp(1rem, 2.5vw, 2rem);
    margin-top: 0.5rem;
}
#titulo{
    font-weight: 400;
    font-style: normal;
    font-size: clamp(3rem, 7vw, 8rem);
    text-align: center;
    -webkit-text-stroke-width: 0.125rem;
    margin-bottom: 1rem;
}
#w{
    color: #39FF14;
    -webkit-text-stroke-color: #FF007F;
}
#e1{
    color: #00FFFF;
    -webkit-text-stroke-color: #bf00ff ;
}
#b{
    color: #FF007F;
    -webkit-text-stroke-color: #00FFFF;
}
#p{
    color: #ffdb58;
    -webkit-text-stroke-color: #39FF14;
}
#e2{
    color: #ffa500;
    -webkit-text-stroke-color: #FF007F;
}
#t{
    color: #ff4500;
    -webkit-text-stroke-color: #ffa500;
}
#s{
    color: #bf00ff;
    -webkit-text-stroke-color: #00FFFF;
}
#ex{
    color: white;
    -webkit-text-stroke-color: #bf00ff;
}
#seleccion-mascota{
    border: 2px solid white;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 4rem;
}
#boton-mascota{
    position:absolute;
    bottom: 10px;
}
#seleccion-ataque{
    flex-direction: column;
    border: 2px solid white;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 100vw;
}
#boton-fuego{
    background-color: #ff4500;
}
#boton-agua{
    background-color: #0066ff;
}
#boton-planta{
    background-color: #00cc44;
}
#boton-tierra{
    background-color: #996633;
}
#boton-hielo{
    background-color: #66ccff;
}
#boton-normal{
    background-color: #727272;
}
#mensajes{
    margin-top: 1rem;
    font-size: clamp(1rem, 2.5vw, 2rem);
    text-align: center;
    padding: 0.5rem;
}
#mensaje-turno{
    white-space: pre-line;
}
#muestra-mascotas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
    gap: 10px;
    width: 100%;
    justify-items: center;
}
#img-mascota-rival, #img-mascota-jugador{
    width: 50%;
    min-width: 65px;
    height: auto;
    margin-bottom: 1rem;
}
#mascota-jugador, #mascota-rival{
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 3rem);
}
#img-mascota-rival{
    transform: scaleX(-1);
}
#contenedor-ataques{
    margin-top: 1rem;
}
#reiniciar-juego{
    margin-top: 1rem;
}
#boton-reiniciar{
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    text-align: center;
    border-color: #ffa500;
    color: #ffa500;
    background-color: #ff4500;

}
#boton-reiniciar:hover{
    border-color: #ff4500;
    color: #ff4500;
    background-color: #ffa500;
}
#boton-reiniciar:active{
    transform: scale(0.98);
    border-color: #dd8300;
    color: #dd8300;
    background-color: #dd2300;
}
#contenedor-mascotas{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
